<div class="card">
    <div class="card-body">
    <div class="row">
      <div>
        <div >
          <input type="text" name="title" id="title" [(ngModel)]="todo.title">
        </div>
        <div >
          <input type="text" style="width: 100%;" name="description" id="description" [(ngModel)]="todo.description">
        </div>
        <div class="col-md-2">
          <p>{{todo.status }}</p>
        </div>
      </div>
      <div class="options" style="">
        <ng-container>
            <button class="btn btn-success">
                <i  class="fa fa-check"></i>
              </button>
          <button class="btn btn-primary" (click)="onEditTodo(todo)">
                  <i  class="fa fa-pencil"></i>
                </button>
          <button class="btn btn-danger" (click)="this.deleted.emit(todo);">
                  <i  class="fa fa-trash"></i>
                </button>
        </ng-container>
        <ng-container>
            <button class="btn btn-success" (click)="onCreateTodo(todo)">
                Create
              </button>
        </ng-container>
        <ng-container>
          <button class="btn btn-primary" (click)="onEditTodoSubmit(todo)">
                  Submit
                </button>
        </ng-container>
      </div>
    </div>
</div>
